body{
background-image: url("https://www.istockphoto.com/photo/pink-retro-toy-car-isolated-on-white-gm1386831709-444935852?utm_source=unsplash&utm_medium=affiliate&utm_campaign=srp_photos_top&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fcar&utm_term=car%3A%3A%3A");
background-size: cover;
}

h2{
    color: red;
    background-color: black;
    text-align: center;
    border:5px solid purple;
    cursor: pointer;
}

p{
    color: green;
}
li{
    list-style-type:none ;
    outline: none;
    text-decoration: none;
}

